div.table .header div, div.table .row div {
  width: 30%;
  display: inline-block;
  padding: 5px;
  border: #333 1px solid;
  margin-bottom: 2px; }

div.table .header {
  color: #fff; }
  div.table .header div {
    background-color: #333;
    border: #fff 1px solid; }

div.table .row {
  background-color: #fff; }
