div.table{
    .header, .row{
        div {
              width:30%;
              display: inline-block;
              padding: 5px;
              border: #333 1px solid;
              margin-bottom: 2px;
         }
    } 

    .header{
        color:#fff;
        div {
            background-color: #333;
            border: #fff 1px solid;
        }
    }

    .row{
        background-color: #fff;
    }
}